.box-with-scroll {
  position: relative;
}

.box-with-scroll > img {
  position: absolute;
  width: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  opacity: .6;
  animation: scroll 2s linear infinite;
}

.mini-card-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  max-height: 280px;
}

::-webkit-scrollbar {
  display: none;
}

.mini-card {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.mini-card p {
  margin-bottom: 0;
}

.mini-card img {
  width: 28px;
}

@keyframes scroll {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
