@import './css/DefaultStyles.css';
@import './css/Typography.css';

#root {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 100px;
}

@media only screen and (max-width: 480px) {
  #root {
    flex-direction: column;
    padding: 0;
  }
}