.content-header {
  position: relative;
  width: 100%;
}

.content-header > p {
  max-width: 63ch;
  line-height: 1.5;
  margin-top: 20px;
}

.content-header > img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.6;
}

@media only screen and (max-width: 480px) {
  .content-header {
    margin-top: 100px;
  }

  .content-header > h2 {
    font-size: 20px;
    margin-left: 38px;
  }

  .content-header > p {
    font-size: 1rem;
  }

  .content-header > img {
    width: 24px;
    left: 0;
  }
}